@font-face {
    font-family: 'Roboto';
    src: url('./fonts/roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 75% 100%;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    /*background-color: #000;*/
}

.popup-container {
    position: fixed;
    background: #2f2f2f;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), inset 0 10px 10px -16px #000000;*/
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 10px 10px -16px #000000;

    border-radius: 6px;
    border: 1px solid #535353;
    border-top-width: 2px;
    border-bottom-width: 2px;
    min-width: 200px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 6px;
}

.popup-content::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.177);
    width: 6px;
    border-radius: 3px;
}

.popup-content::-webkit-scrollbar-thumb {
    background-color:  rgba(255, 255, 255, 0.333);
    border-radius: 3px;
}

.popup-container .popup-action {
    min-height: 32px;
    color: white;
    border: none;
    background: transparent;
    text-align: left;
    padding-left: 46px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: transparent 0px 0px 0px 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.1s ease;
    position: relative;
}

.popup-container .popup-action:hover {
    background-color: rgba(255, 255, 255, .07);
    box-shadow: rgba(255, 255, 255, .07) 0px 0px 0px 1px;
}

.popup-container .popup-action:focus {
    background-color: rgb(102, 21, 206);
    box-shadow: rgb(102, 21, 206) 0px 0px 0px 3px;
    outline: none;
    z-index: 32;
}